html, body {
    margin: 0;
    padding: 0;
    background: #f6f1f4;
    color: black;
}
#headerwrap {
    background: #454229 no-repeat 30% 60%;
    color: white;
    margin: 0;
    padding: 1ex 0;
}
#headerwrap :link, #headerwrap :visited {
    color: white;
}
#headerwrap a:hover, #headerwrap a:focus {
    color: #eeccff;
    text-decoration: underline;
}
#sitename :link, #sitename :visited {
    text-decoration: none;
}
#sitename, #tagline, #skiplinks {
    margin: 0.1em 0;
    text-shadow: 0.11em 0.07em 0.1em black;
}
#skiplinks {
    position: absolute;
}
#skiplinks div {
    background: rgba(15,50,5,.7);
    padding: .2em .4em;
    border-radius: .2em;
}
#skiplinks ul, #skiplinks li {
    display: inline;
    margin: 0;
    padding: 0;
}
#skiplinks li:after {
    content: ', ';
}
#skiplinks li:last-child:after {
    content: '.';
}
#sitename {
    font-size: 150%;
    font-weight: bold;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}
#header {
    position: relative;
}
#selectlang {
    position: absolute;
    top: 0; right: 1.43ex;
    font-size: 70%;
}
#selectlang button {
    background: #454229;
    background: rgba(0,0,0,0.4);
    color: #eeeeee;
    border: solid 1px rgba(255,255,255,0.4);
    -webkit-border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    border-radius: 0.6em;
}

#header, #mainwrap, #footer {
    margin: auto;
    max-width: 68em;
    padding: 0 1ex;
}
#footerwrap {
    clear: both;
    border-top: solid 1px #454229;
    padding: 0.2em 0;
    margin-top: 1em;
}
#footer p {
    font-size: 90%;
    color: #606060;
    text-decoration: none;
    overflow: hidden;
}
#footer img { float: left; margin-right: 1em; }

#main {
    float: left;
    width: 66%;
    margin: 1em 0;
    padding: 0;
}
.sideblockwrap {
    width: 31.83%;
    float: right;
}
.sideblock {
    font-size: 90%;
    margin: 1em 0;
    padding: 1ex;
    background: white;
    color: black;
    border: solid 1px #888888;
    -webkit-box-shadow: 0.2em 0.3em 0.8em #aaaaaa;
    -moz-box-shadow: 0.2em 0.3em 0.8em #aaaaaa;
    box-shadow: 0.2em 0.3em 0.8em #aaaaaa;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
}
.sideblock ul { margin: 0.5ex 0; padding: 0 0 0 2em; }
.sideblock h2 { margin: 0 0 1ex 0; }
.sideblock h3 { margin: 1ex 0 0 0; }
.sideblock .tagcloud { font-size: 95%; }

article {
    margin: 1ex 0 1em;
    overflow: hidden;
}
article .readmore {
    text-align: right;
    margin: 0 7%;
    font-style: italic;
}
article .readmore:before {
    content: "\261e";
    font-size: 120%;
    padding-right: 1ex;
}
address {
    text-align: right;
    margin: 1em 0;
}
address:before {
    content: "\270d";
    font-size: 120%;
    padding-right: 1ex;
}
header {
    margin: 1em 0;
}
h1, h2 {
    margin: 0;
}
div.message {
    background: white;
    border: dashed 1px red;
    padding: 1ex;
    border-radius: 1ex;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
}
p.publine {
    font-size: 90%;
    font-family: sans-serif;
}
article h1 a {
    color: black;
    text-decoration: none;
}
article h1 a:hover, article h1 a:focus {
    color: #440088; /* TODO Link color */
    text-decoration: underline;
}
section { margin: 2em 0 1em; }
section h1 { font-size: 1.4em; }
section section h1 { font-size: 1.2em; }
header p {
    margin: 0;
}

aside, .sidebar {
    float: right;
    clear: right;
    max-width: 45%;
    margin: 0 0 1ex 1ex;
}
figure {
    margin: 0 1ex 1ex 0;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
}
aside figure {
    margin: 0;
}
figure p {
    font-size: 83%;
    font-style: italic;
}
img { border: 0; }
figure img, .comment img {
    border: solid 1px #666666;
    background: white;
    padding: 2px;
    display: block;
    max-width: 96%;
    max-width: -moz-calc(100% - 6px);
    max-width: -webkit-calc(100% - 6px);
    max-width: -o-calc(100% - 6px);
    max-width: calc(100% - 6px);
    height: auto;
}

.abstract, .update {
    font-style: italic;
    margin-bottom: 1em;
}
p {
    margin: 0 0 1ex 0;
}
.postort {
    font-variant: small-caps;
}

/** Tables **/
table { border-collapse: collapse; }
table caption { caption-side: bottom; text-align: left;
  font-style: italic; font-size: 90%; }
table th, table td 
  { border: solid 1px #cccccc; text-align: left; padding: 0 1ex; }
table thead tr, table tbody tr:nth-child(even) { background-color: #e8e8e8; color: black; }


pre.programlisting {
    background: white;
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px 0;
    padding: 1ex;
    overflow: auto;
}

blockquote { max-width: 34em; margin: 1ex 1em 1em; padding: 1ex 1em; 
  font-style: italic;
  background: white; color: #555555;
  border: solid 1px #888888;
  -webkit-box-shadow: .3em .2em .5em #aaaaaa;
  -moz-box-shadow: .3em .2em .5em #aaaaaa;
  box-shadow: .3em .2em .5em #aaaaaa;
}
blockquote > *:first-child { margin-top: 0; padding-top: 0; }
blockquote p.attribution {
    text-align: right;
    font-style: italic;
    margin-bottom: 0;
}
.replaceable { font-style: italic; }
.tag {
    color: #51AA17;
    font-family: monospace;
}
.tag:before { content: '&'; }
.tag:after { content: ';' }

ul.tagcloud {
    text-align: center;
    margin: 0 0 1ex 0;
    padding: 0;
}
ul.tagcloud li {
    display: inline;
}
ul.tagcloud li.w1 { font-size: 70%; }
ul.tagcloud li.w2 { font-size: 85%; }
ul.tagcloud li.w3 { font-size: 100%; }
ul.tagcloud li.w4 { font-size: 120%; }
ul.tagcloud li.w5 { font-size: 150%; }

dl { margin: 1ex 0; padding: 0; }
dl dt {
    float: left;
    margin-right: .5em;
}
dl dd {
    margin: 0 0 1ex 8em; padding: 0;
}

.comment {
    overflow: hidden;
}
.comment img { /* gravatar */
    float: right;
    margin: 0 0 .2em .4em
}
.comment.authorized h1:before {
    content: "\270d";
    color: #8a8452;
}

#writecomment p {
    display: table-row;
}
#writecomment label, #writecomment input, #writecomment textarea {
    margin: .2em;
    display: table-cell;
    vertical-align: baseline;
}
#writecomment p.fineprint {
    display: block;
    font-size: 84%;
}
#writecomment p.submit {
    display: block;
}
.lastcomments p {
    font-size: 90%;
    border-top: solid 1px #aaa;
    overflow: hidden;
    padding: 1ex 0;
    margin: 0;
    background: transparent;
}
.lastcomments p:last-child {
    padding-bottom: 0;
}
.lastcomments :link,
.lastcomments :visited {
    text-decoration: none;
}

:target {
    margin-left: -.4em;
    padding-left: .3em;
    border-left: .1em solid red;
    -webkit-border-radius: .3em 0 0 .3em;
    -moz-border-radius: .3em 0 0 .3em;
    border-radius: .3em 0 0 .3em;
}
:link:hover, :visited:hover {
    text-decoration: underline;
}
:link:hover {
    color: #0000aa;
}
:visited:hover {
    color: #550088;
}

.LT_itemLast, .LT_powered {
    border-top: solid 1px #aaa;
    overflow: hidden;
    padding: 1ex 0;
}
.LT_cover {
    float: left;
    margin-right: .5em;
}
.LT_title {
    display: block;
    font-size: 111%;
}
.LT_rating {
    display: block;
    margin-top: 1ex;
}
.LT_powered {
    text-align: center;
    padding-bottom: 0;
}
.LT_powered a {
    text-decoration: none;
}
.LT_powered img {
    margin-right: .3em;
    vertical-align: middle;
}
#LT_LB_overlay {
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Override some stuff from jquery.tweet */
.sideblock .tweet_list {
    margin: 0;
    padding: 0;
    background: transparent;
}
.sideblock .tweet_list li {
    border-top: solid 1px #aaa;
    overflow: hidden;
    padding: 1ex 0;
    background: transparent;
}
.sideblock .tweet_list li:last-child {
    padding-bottom: 0;
}

@media screen and (max-width: 480px) {
    #headerwrap {
	background-image: url(naturbanner-480.jpg);
	padding: 0.2em;
    }
    #main, .sideblockwrap {
	float: none;
	width: auto;
    }
    #skiplinks {
	position: static;
    }
}
@media screen and (min-width: 481px) {
    #skiplinks.withoutfocus {
	height: 0;
	overflow: hidden;
	margin: 0;
    }
    #skiplinks.withfocus {
	height: auto;
	overflow: visible;
    }
}
@media screen and (min-width: 1681px) {
    #headerwrap { background-image: url(naturbanner-3868.jpg); }
}
@media screen and (min-width: 481px) and (max-width: 1680px) {
    #headerwrap { background-image: url(naturbanner-1680.jpg); }
}

@media print {
    body, html {
	background: white;
	color: black;
    }
    #main {
	float: none;
	width: auto;
    }
    .sideblockwrap, #writecomment, #selectlang, #skiplinks {
	display: none;
    }
    #headerwrap, #header, #mainwrap, #footerwrap {
	width: auto;
	color: inherit;
	background: transparent;
    }
    #sitename, #tagline {
	display: inline;
	font-size: 1em;
	text-shadow: none;
	font-weight: normal;
	border: 0;
    }
    #tagline:before {
	content: ' \2013\00a0 ';
    }
    #header {
	border-bottom: solid 1px #454229;
    }
    
    #headerwrap :link, #headerwrap :visited,
    .publine :link, .publine :visited,
    address :link, address :visited,
    #footer :link, #footer :visited {
	color: inherit;
	text-decoration: none;
    }
}
