html, body {
    margin: 0;
    padding: 0;
    background: #f6f1f4;
    color: black;
}
header.site {
    background: #454229 no-repeat 30% 60%;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 1ex 0;
}
header.site :link, header.site :visited {
    color: white;
}
header.site a:hover, header.site a:focus {
    color: #eeccff;
    text-decoration: underline;
}
#sitename :link, #sitename :visited {
    text-decoration: none;
}
#sitename, #lingos, #tagline, #skiplinks {
    margin: .1em 0;
    text-shadow: .11em .07em .1em black;
}
#lingos {
    float: right;
    margin-top: 0;
}
#lingos .icon-flag:before {
    text-decoration: none;
}
#skiplinks {
    position: absolute;
}
#skiplinks div {
    background: rgba(15,50,5,.7);
    padding: .2em .4em;
    border-radius: .2em;
}
#skiplinks ul, #skiplinks li {
    display: inline;
    margin: 0;
    padding: 0;
}
#skiplinks li:after {
    content: ', ';
}
#skiplinks li:last-child:after {
    content: '.';
}
#sitename {
    font-size: 150%;
    font-weight: bold;
    border-bottom: solid 1px rgba(255,255,255,.5);
}

header.site > div, #mainwrap, footer.site > div {
    margin: auto;
    max-width: 68em;
    padding: 0 1ex;
}
footer.site {
    clear: both;
    border-top: solid 1px #454229;
    padding: .2em 0;
    margin-top: 1em;
}
footer.site p {
    font-size: 90%;
    color: #606060;
    text-decoration: none;
    overflow: hidden;
}
footer.site .license br { display: none; }

main {
    margin: 1em 0;
    padding: 0;
}

#sideblockwrap aside {
    font-size: 90%;
    margin: 1em 0;
    padding: 1ex;
    background: white;
    color: black;
    border: solid 1px #888888;
    -webkit-box-shadow: .2em .3em .8em #aaaaaa;
    box-shadow: .2em .3em .8em #aaaaaa;
    -webkit-border-radius: .5em;
    border-radius: .5em;
}
aside ul { margin: .5ex 0; padding: 0 0 0 1.7em; }
#mylinks ul { padding-left: .7em; }
aside h1 { margin: 0 0 1ex 0; font-size: 140%; }
aside h2 { margin: 1ex 0 0 0; font-size: 120%; }
aside h1, aside h2 {
    font-family: serif;
    font-weight: bold;
}
aside .tagcloud { font-size: 95%; }

article {
    margin: 1ex 0 1em;
    overflow: hidden;
}
article .readmore {
    text-align: right;
    margin: 0 7%;
    font-style: italic;
}
article .readmore:before {
    content: "\261e";
    font-size: 120%;
    padding-right: 1ex;
}
address {
    text-align: right;
    margin: 1em 0;
}
address:before {
    content: "\270d";
    font-size: 120%;
    padding-right: 1ex;
}
main header {
    margin: 1em 0;
}
h1, h2 {
    margin: 0;
}
div.message {
    background: white;
    border: dashed 1px red;
    padding: 1ex;
    border-radius: 1ex;
}
h1 {
    font-size: 2em;
    font-weight: bold;
    font-family: sans-serif;
}
h2 {
    font-size: 1.4em;
}
h3 {
    font-size: 1.2em;
}
p.publine {
    font-size: 90%;
    font-family: sans-serif;
}
article h1 a {
    color: black;
    text-decoration: none;
}
article h1 a:hover, article h1 a:focus {
    color: #440088; /* TODO Link color */
    text-decoration: underline;
}
section {
  margin: 2em 0 1em;
  overflow: auto;
}
section h1 { font-size: 1.4em; }
section section h1 { font-size: 1.2em; }
main header p {
    margin: 0;
}

main aside, .sidebar {
    float: right;
    clear: right;
    max-width: 45%;
    margin: 0 0 1ex 1ex;
}
figure {
    margin: 0 1ex 1ex 0;
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    width: 206px;
    width: intrinsic;
    width: -moz-min-content;
    width: min-content;
}
figure.scaled {
    width: auto;
    width: -moz-min-content;
}
aside figure {
    margin: 0;
}
figure figcaption {
    font-size: 83%;
    font-style: italic;
}
img { border: 0; }
figure img, .comment img {
    border: solid 1px #666666;
    background: white;
    padding: 2px;
    display: block;
    max-width: 96%;
    max-width: -moz-calc(100% - 6px);
    max-width: -webkit-calc(100% - 6px);
    max-width: -o-calc(100% - 6px);
    max-width: calc(100% - 6px);
    height: auto;
}
.orgname.parti {
    display: inline-block;
    width: 52px;
    height: 40px;
    vertical-align: bottom;
    text-indent: 53px;
    overflow: hidden;
}
.orgname.parti.kds {
    background: url('/img/kds');
}
.orgname.parti.m {
    background: url('/img/m');
}
.orgname.parti.fp {
    background: url('/img/fp');
}
.orgname.parti.c {
    background: url('/img/c');
}
.orgname.parti.mp {
    background: url('/img/mp');
}
.orgname.parti.s {
    background: url('/img/s');
}
.orgname.parti.v {
    background: url('/img/v');
}
.abstract, .update {
    font-style: italic;
    margin-bottom: 1em;
}
p {
    margin: 0 0 1ex 0;
}
.postort {
    font-variant: small-caps;
}

/** Tables **/
table { border-collapse: collapse; }
table caption { caption-side: bottom; text-align: left;
  font-style: italic; font-size: 90%; }
table th, table td 
  { border: solid 1px #cccccc; text-align: left; padding: 0 1ex; }
table thead tr, table tbody tr:nth-child(even) { background-color: #e8e8e8; color: black; }


pre.programlisting {
    background: white;
    border-color: #aaaaaa;
    border-style: solid;
    border-width: 1px 0;
    padding: 1ex;
    overflow: auto;
}

blockquote { max-width: 34em; margin: 1ex 1em 1em; padding: 1ex 1em; 
  font-style: italic;
  background: #fafafa; color: #222222;
  border: solid 1px #aaaaaa;
  -webkit-box-shadow: .3em .2em .5em #aaaaaa;
  box-shadow: .3em .2em .5em #cccccc;
}
blockquote > *:first-child { margin-top: 0; padding-top: 0; }
blockquote footer.attribution {
    text-align: right;
    font-style: italic;
}
blockquote em {
    font-weight: bold;
}
.replaceable { font-style: italic; }
.tag {
    color: #51AA17;
    font-family: monospace;
}
.tag:before { content: '<'; }
.tag:after { content: '>' }
.tag.attribute:before { content: ''; }
.tag.attribute:after { content: '' }
.tag.comment:before { content: '<!--'; }
.tag.comment:after { content: '-->' }
.tag.paramentity:before, .tag.numcharref:before { content: '&'; }
.tag.paramentity:after,  .tag.numcharref:after { content: ';' }

ul.tagcloud {
    text-align: center;
    margin: 0 0 1ex 0;
    padding: 0;
}
ul.tagcloud li {
    display: inline;
}
ul.tagcloud li.w1 { font-size: 70%; }
ul.tagcloud li.w2 { font-size: 85%; }
ul.tagcloud li.w3 { font-size: 100%; }
ul.tagcloud li.w4 { font-size: 120%; }
ul.tagcloud li.w5 { font-size: 150%; }

dl { margin: 1ex 0; padding: 0; }
dl dt {
    float: left;
    margin-right: .5em;
}
dl dd {
    margin: 0 0 1ex 8em; padding: 0;
}

.comment {
    overflow: hidden;
}
.comment img { /* gravatar */
    float: right;
    margin: 0 0 .2em .4em
}
.comment.authorized h1:before {
    content: "\270d";
    color: #8a8452;
}

#writecomment label, #writecomment input, #writecomment textarea {
    vertical-align: baseline;
}
#writecomment label {
    float: left;
}
#writecomment input, #writecomment textarea {
    width: 95%;
    width: -moz-available;
}
#writecomment p.fineprint {
    display: block;
    font-size: 84%;
}
#writecomment p.submit {
    display: block;
}
#writecomment p.submit input {
    width: auto;
}
#latestcomments p {
    font-size: 90%;
    border-top: solid 1px #aaa;
    padding: 1ex 0;
    margin: 0;
}
#latestcomments p:last-child {
    padding-bottom: 0;
}
#latestcomments :link,
#latestcomments :visited {
    text-decoration: none;
}

:target {
    padding-left: .5em;
    border-radius: .4em 1em 0 0;
    background: -webkit-linear-gradient(176deg, rgba(255,0,99,0.4), rgba(255,0,0,0) 3em);
    background: linear-gradient(176deg, rgba(255,0,99,0.4), rgba(255,0,0,0) 3em);
}
:link:hover, :visited:hover {
    text-decoration: underline;
}
:link:hover {
    color: #0000aa;
}
:visited:hover {
    color: #550088;
}

.LT_itemLast, .LT_powered {
    border-top: solid 1px #aaa;
    overflow: hidden;
    padding: 1ex 0;
}
.LT_cover {
    float: left;
    margin-right: .5em;
}
.LT_title {
    display: block;
    font-size: 111%;
}
.LT_rating {
    display: block;
    margin-top: 1ex;
}
.LT_powered {
    text-align: center;
    padding-bottom: 0;
}
.LT_powered a {
    text-decoration: none;
}
.LT_powered img {
    margin-right: .3em;
    vertical-align: middle;
}
#LT_LB_overlay {
    background: rgba(0, 0, 0, .2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main .LTitem {
    display: inline-block;
    margin: 0 1em 1em 0;
    vertical-align: middle;
    width: 20em;
    width: -moz-max-content;
}
main .LTitem img {
    float: left;
    margin-right: 1ex;
}
main .LTitem .LTtitle {
    display: block;
    font-weight: bold;
}
main .LTitem a {
    text-decoration: none;
}
aside#tweetbox {
    padding: 0;
}
li[class^="icon-"],
li[class*=" icon-"] {
    list-style-type: none;
    list-style-type: inline;
}
li[class^="icon-"]:before,
li[class*=" icon-"]:before {
    display: marker;
    padding-right: .2em;
    color: #222;
}

p.postyears {
    border-top: solid 1px #454229;
    margin: 4em auto 2em 1.4em;
    padding-top: .3em;
}
p.postyears:before {
    font-family: 'font-kaj-20121124';
    content: '🍂'; /* \1f342 */
    float: left;
    font-size: 280%;
    margin: -.5em .4em 0 -.5em;
    color: #8add52;
    text-shadow: .07em .1em .15em #454229;
}

@media screen and (max-width: 34.999em) {
    main, #sideblockwrap {
	clear: left;
    }
    #skiplinks {
	position: static;
	float: left;
    }
}
@media screen and (min-width: 35em) {
    main {
        float: left;
        width: 66%;
    }
    #sideblockwrap {
        width: 31.83%;
        float: right;
    }
    #skiplinks.withoutfocus {
	height: 0;
	overflow: hidden;
	margin: 0;
    }
    #skiplinks.withfocus {
	height: auto;
	overflow: visible;
    }
    #writecomment form p {
        margin-left: 10em;
    }
    #writecomment label {
        margin-left: -10em;
    }
}
@media screen and (max-width: 500px) {
    header.site {
	background-image: url(naturbanner-480.jpg);
	padding: .2em;
    }
}
@media screen and (min-width: 501px) {
    header.site { background-image: url(naturbanner-1680.jpg); }
}

@media print {
    body, html {
	background: white;
	color: black;
    }
    #sideblockwrap, #writecomment, #lingos, #skiplinks {
	display: none;
    }
    header.site, #mainwrap, footer {
	color: inherit;
	background: transparent;
    }
    #sitename, #tagline {
	display: inline;
	font-size: 1em;
	text-shadow: none;
	font-weight: normal;
	border: 0;
    }
    #tagline:before {
	content: ' \2013\00a0 ';
    }
    header.site > div {
	border-bottom: solid 1px #454229;
    }
    header :link, header :visited,
    address :link, address :visited,
    footer :link, footer :visited {
	color: inherit;
	text-decoration: none;
    }
}
