{% extends "base.html" %}

{% block title %}Rasmus Kaj &#x2013; Rasmus.krats.se {% endblock %}
{% block extrahead %}
  <meta name="Description" content='{{ _("Systemutvecklare på IT-Avdelningen på KTH.") }}'/>
  <link rel="openid.server"
	href="http://openid.sys.kth.se/_/kthcasopenid.php/kaj">
  <link rel="openid.delegate"
	href="http://openid.sys.kth.se/_/kthcasopenid.php/kaj">
{% endblock %}

{% block main %}
  <header>
    <h1>Rasmus Kaj</h1>
  </header>

  <figure class="sidebar">
    <a href="{{ url('image_view', args=['rasmus-broos']) }}">
      <img width="149" height="200" alt="{{ _('Bild på mig') }}"
	   src="{{ url('image_small', args=['rasmus-broos']) }}"></a>
    <figcaption>{{ _("På jobbet i september 2011. Foto: Björn Roos.") }}
    </figcaption>
  </figure>

  <div class="abstract">
    <p>{{ _("Systemutvecklare på IT-Avdelningen på KTH.") }}</p>
  </div>

  <div class="content">
    <p>{{ _("Jag är en systemutvecklare som i första hand jobbar med webb, gärna på ett agilt sätt och gärna i unixmiljö.") }}
      {{ _("Jag började med webb&#xad;utveckling både hobby&#xad;mässigt och professionellt våren 1995 och har inte kunnat slita mig sedan dess.")}}</p>
    
    <p>{{ _("Jag är gift med <a href='http://tygbittar.krats.se/'>Katarina Kaj</a>, aktiv i <a href='http://www.stacken.kth.se/'>Dator&#xad;föreningen Stacken</a> och läser gärna <a href='/tag/comics'>serier</a>.") }}</p>

    <section id="contact">
      <h1>{{ _("Kontakt") }}</h1>
    
      <figure class="sidebar">
        <img src="{{static('qr-kaj.png')}}" width="82" height="82"
             alt=""/>
      </figure>
      
      <dl>
        <dt class="icon-mail">{{ _("Epost:") }}</dt>
        <dd><a href="mailto:rasmus@krats.se">rasmus@krats.se</a></dd>
        
        <dt class="icon-phone">{{ _("Telefon:") }}</dt>
        <dd><a href="tel:+46-8-790-67-21">08‒790 67 21</a></dd>
        <dt class="icon-phone">{{ _("sms:") }}</dt>
        <dd><a href="sms:+46-739736226">0739736226</a></dd>
        
        <dt class="icon-mail">{{ _("Papperspost:") }}</dt>
        <dd>Rasmus Kaj<br>
          Stamgatan 55<br>
          SE-125 74 &#160;<span class="postort">Älvsjö</span><br>
          Sweden</dd>
      </dl>
    </section>
  </div>
{% endblock %}

{% block skiplinks %}
  {{super()}}
  <li><a href="#tagcloud">{{ _("taggmoln") }}</a></li>
{% endblock %}

{% block sideblock %}
  {{super()}}
  <aside id="tagcloud">{{tagcloud()}}</aside>
{% endblock %}
