# Required python packages.
# Can be installed py "pip install -r requirements.txt"

Django >= 1.11, < 1.12
django-autoslug
django-taggit
django_compressor
django-debug-toolbar
python-memcached
django-simplegravatar
IPy
Jinja2
pymongo
lxml
psycopg2
pillow
# Source higlighing for code examples
Pygments
django-ssl-admin

# For testing
html5lib
cssselect

gunicorn
setproctitle
