# Required python packages.
# Can be installed py "pip install -r requirements.txt"

django-autoslug
django-taggit
django_compressor
django-debug-toolbar
python-memcached
django-simplegravatar
IPy
pymongo
lxml
# Source higlighing for code examples
Pygments

# TODO Do I actually need both html5lib and BeautifulSoup?
html5lib
BeautifulSoup
