<!doctype html>
<html>
  <title>Stats</title>
  <style type="text/css">
    table { border-collapse: collapse;
      display: inline-block; vertical-align: top; margin: 0 1ex 1ex 0;
    }
    thead { background: #e8e8ff; }
    th, td { border: solid 1px #ccc; padding: 0.1em 0.3em; }
    th { text-align: left; }
    table .n { text-align: right; }
  </style>

  <h1>Stats</h1>

  {% for result in results %}
    <table>
      <thead><tr><th>{{result.name}}</th><th class="n">n</th></tr></thead>
      <tbody>
	{% for x in result.values %}
	  <tr><td>{{x.value}}</td><td class="n">{{x.count}}</td></tr>
	{% endfor %}
      </tbody>
    </table>
  {% endfor %}
</html>

