<!doctype html>
{% load i18n compress %}{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <title>{% block title %}Rasmus.krats.se{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="{{STATIC_URL}}html5.js"></script>
    <![endif]-->
    {% compress js inline %}
    <script type="text/javascript">
      kbsettings={
      next: '{% trans "nästa" %} \u2192',
      prev: '\u2190 {% trans "förra" %}',
      close: '{% trans "stäng" %} \u00D7'
      };
    </script>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}kratsbox/kratsbox.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}myinit.js"></script>
    {% endcompress %}
    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}html5.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}blog.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}pygments.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}kratsbox/kratsbox.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}iconfont/css/font-kaj-20150319.css" type="text/css"/>
    {% endcompress %}
    {% comment %}
    <script type="text/javascript" async="async"
            src="http://s.gravatar.com/js/gprofiles.js"
            onload="Gravatar.init()"></script>
    {% endcomment %}
    <link rel="shortcut icon" href="{{STATIC_URL}}trafik-kaj-s.png" />
    <link rel="apple-touch-icon" href="{{STATIC_URL}}trafik-kaj.png" />
    {% block extrahead %}{% endblock %}
    {% for l, url in altlingos %}
    <link rel="alternate" hreflang="{{l}}" href="{{url}}"/>
    {% endfor %}
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{STATIC_URL}}iconfont/css/font-kaj-20150319-ie7.css"><![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="{{STATIC_URL}}respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="site">
      <div>
	<p id="sitename"><a href="/" rel="start">Rasmus.krats.se</a></p>
        {% if altlingos %}
        <p id="lingos">{% for l, url in altlingos %}{% language l %}
          <a rel="alternate" hreflang="{{l}}" lang="{{l}}" class="icon-flag"
             href="{{url}}">{% trans "På svenska" context "target language" %}</a>{% if not forloop.last %}, {% endif %}
          {% endlanguage %}{% endfor %}</p>
        {% endif %}
	<p id="tagline">{% trans "Skriverier då och då, på webben sedan 1995" %}</p>
	{% spaceless %}
	<div id="skiplinks"><div>{% trans "Hoppa till" %}
	  <ul>
	    <li><a href="#main">{% trans "innehåll" %}</a></li>
	    {% block firstskiplinks %}{% endblock %}
	    <li><a href="#mylinks">{% trans "mina länkar" %}</a></li>
	    {% block lastskiplinks %}{% endblock %}
	  </ul>
	</div></div>
	{% endspaceless %}
      </div>
    </header>
    <div id="mainwrap">
      <main id="main">{% block main %}{% endblock %}</main>

      <div id="sideblockwrap">
        {% block sideblocktop %}{% endblock %}
        {% spaceless %}
        <aside id="mylinks">
          <h1>Rasmus Kaj</h1>
          <ul>
            <li class="icon-user"><a href="{% url 'about' lang=LANGUAGE_CODE %}">{% trans "Om" %} Rasmus.krats.se</a>
            <li class="icon-leaf"><a href="http://www.kth.se/profile/kaj/">KTH</a>
            <li class="icon-github"><a href="http://github.com/kaj">Github</a>
            <li class="icon-twitter"><a href="http://twitter.com/rasmus_kaj">Twitter</a>
            <li class="icon-book"><a href="http://www.librarything.com/profile/kaj">LibraryThing</a>
          </ul>
          <h2>{% trans "Övrigt" %}</h2>
          <ul>
            <li class="icon-link-ext"><a href="http://krats.se/">krats.se</a>
            <li class="icon-link-ext"><a href="http://fantomenindex.krats.se/">Fantomenindex</a>
            <li class="icon-link-ext"><a href="http://www.albumforlaget.se/">Albumförlaget</a>
          </ul>
        </aside>
        {% endspaceless %}
        {% block sideblockbottom %}{% endblock %}
      </div>
    </div>
    {% spaceless %}
    <footer class="site">
      <div>
        {% url 'me' lang=LANGUAGE_CODE as me_url %}
        <p class="license icon-cc-by">
          {% blocktrans with me='<a href="'|add:me_url|add:'" xmlns:cc="http://creativecommons.org/ns#" rel="cc:attributionURL" property="cc:attributionName">Rasmus Kaj</a>'|safe a='<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">' sa='</a>' %}
          Detta verk av {{me}} är licensierat under en
          {{a}}Creative Commons Erkännande 3.0 Unported-licens{{sa}}.
          {% endblocktrans %}</p>
        <p>{% blocktrans %}
          Denna site <a href="/om#cookie">använder kakor</a>.
          {% endblocktrans %}</p>
      </div>
    </footer>
  </body>{% endspaceless %}
</html>
