<!doctype html>
{% load i18n compress %}{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
  <head>
    <title>{% block title %}Rasmus.krats.se{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script type="text/javascript" src="{{STATIC_URL}}html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
      kbsettings={
      next: '{% trans "nästa" %} \u2192',
      prev: '\u2190 {% trans "förra" %}',
      close: '{% trans "stäng" %} \u00D7'
      };
    </script>
    {% compress js %}
    <script type="text/javascript" src="{{STATIC_URL}}kratsbox/kratsbox.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}myinit.js"></script>
    {% endcompress %}
    {% compress css %}
    <link rel="stylesheet" href="{{STATIC_URL}}html5.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}blog.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}pygments.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}kratsbox/kratsbox.css" type="text/css"/>
    <link rel="stylesheet" href="{{STATIC_URL}}iconfont/css/font-kaj-20121124.css" type="text/css"/>
    {% endcompress %}
    <!--script type="text/javascript" async="async"
            src="http://s.gravatar.com/js/gprofiles.js"
            onload="Gravatar.init()"></script-->
    <link rel="shortcut icon" href="{{STATIC_URL}}trafik-kaj-s.png" />
    <link rel="apple-touch-icon" href="{{STATIC_URL}}trafik-kaj.png" />
    {% block extrahead %}{% endblock %}
    {% for l, url in altlingos %}
    <link rel="alternate" hreflang="{{l}}" href="{{url}}"/>
    {% endfor %}
    <!--[if IE 7]>
    <link rel="stylesheet" href="{{STATIC_URL}}iconfont/css/font-kaj-20121124-ie7.css"><![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="{{STATIC_URL}}respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="site">
      <div>
	<p id="sitename"><a href="/" rel="start">Rasmus.krats.se</a></p>
        {% if altlingos %}
        <p id="lingos">{% for l, url in altlingos %}{% language l %}
          <a rel="alternate" hreflang="{{l}}" lang="{{l}}" class="icon-flag"
             href="{{url}}">{% trans "På svenska" context "target language" %}</a>{% if not forloop.last %}, {% endif %}
          {% endlanguage %}{% endfor %}</p>
        {% endif %}
	<p id="tagline">{% trans "Skriverier då och då, på webben sedan 1995" %}</p>
	<div id="skiplinks"><div>{% trans "Hoppa till" %}
	  <ul>
	    <li><a href="#main">{% trans "innehåll" %}</a></li>
	    {% block skiplinks %}
	    {% block firstskiplinks %}{% endblock %}
	    <li><a href="#mylinks">{% trans "mina länkar" %}</a></li>
	    {% block lastskiplinks %}{% endblock %}
	    {% endblock %}
	  </ul>
	</div></div>
      </div>
    </header>
    <div id="mainwrap">
      <main>
	{% block main %}
	<h1>{{post.title|safe}}</h1>
	<div class="abstract">{{post.abstract|safe}}</div>
	<div class="content">{{post.content|safe}}</div>
	{% endblock %}
      </main>
      
      <div id="sideblockwrap">
	{% block sideblocktop %}{% endblock %}
	<aside id="mylinks">
	  <h1>Rasmus Kaj</h1>
	  <ul>
	    <li class="icon-user"><a href="{% url 'about' lang=LANGUAGE_CODE %}">{% trans "Om" %} Rasmus.krats.se</a></li>
	    <li class="icon-leaf"><a href="http://www.kth.se/profile/kaj/">KTH</a></li>
	    <li class="icon-github"><a href="http://github.com/kaj">Github</a></li>
	    <li class="icon-twitter"><a href="http://twitter.com/rasmus_kaj">Twitter</a></li>
	    <li class="icon-book"><a href="http://www.librarything.com/profile/kaj">LibraryThing</a></li>
	  </ul>
          <h2>{% trans "Övrigt" %}</h2>
          <ul>
            <li class="icon-link-ext"><a href="http://krats.se/">krats.se</a></li>
            <li class="icon-link-ext"><a href="http://fantomenindex.krats.se/">Fantomenindex</a></li>
            <li class="icon-link-ext"><a href="http://www.albumforlaget.se/">Albumförlaget</a></li>
          </ul>
	</aside>
	{% block sideblockbottom %}{% endblock %}
      </div>
    </div>
    <footer class="site">
      <div>
        {% spaceless %}
        <p class="license">
          <i class="icon-cc"></i>
          <i class="icon-cc-by"></i>
          {% blocktrans with me='<a xmlns:cc="http://creativecommons.org/ns#" href="http://rasmus.krats.se/" rel="cc:attributionURL" property="cc:attributionName">Rasmus Kaj</a>' a='<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">' sa='</a>'%}
          Detta verk av {{me}} är licensierat under en
          {{a}}Creative Commons Erkännande 3.0 Unported-licens{{sa}}.
          {% endblocktrans %}
	  {% blocktrans %}
	  Denna site <a href="/om#cookie">använder kakor</a>.
	  {% endblocktrans %}
        </p>
        {% endspaceless %}
      </div>
    </footer>
  </body>
</html>
