{% extends "blog/base.html" %}
{% load cache i18n blogtags %}

{% block title %}Rasmus.krats.se{%if head%} - {{head}}{%endif%}{% endblock %}

{% block main %}
    {% if head %}
        <h1>{{head}}</h1>
    {% endif %}

    {% for update in updates %}
        {% updatesummary update %}
    {% endfor %}

    <p>Övriga inlägg från
      {% for y in years %}
      <a href="/{{y}}/">{{y}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
{% endblock %}

{% block sideblockbottom %}
  <div class="sideblock">
    <h2>{% trans "Taggmoln" %}</h2>
    {% cache 7200 tagcloud %}
      {% tagcloud %}
    {% endcache %}
  </div>
{% endblock %}
