{% extends "blog/base.html" %}

{% block title %}Rasmus.krats.se{%if head%} - {{head}}{%endif%}{% endblock %}

{% block main %}
    {% if head %}
        <h1>{{head}}</h1>
    {% endif %}
    {% for post in posts %}
    <article>
      <header>
	<h1>{{post.title|safe}}</h1>
	<p>Publicerad
	  <time datetime="{{post.posted_time|date:'c'}}" pubdate>
	    {{post.posted_time}}
	  </time>
	</p>
      </header>
      <div>{{post.abstract|safe}}</div>
      <p class="readmore">
	<a href="/{{post.posted_time.year}}/{{post.slug}}">
	  Läs inlägget {{post.title|safe}}
	</a>
      </p>
    </article>
    {% endfor %}
    <p>Övriga inlägg från
      {% for y in years %}
      <a href="/{{y}}/">{{y}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
{% endblock %}
