{% extends "blog/base.html" %}
{% load i18n blogtags %}

{% block title %}Rasmus.krats.se{%if head%} - {{head}}{%endif%}{% endblock %}

{% block main %}
    {% if head %}
        <h1>{{head}}</h1>
    {% endif %}
    {% for update in updates %}
      {% with update.post as post %}
      <article>
      <header>
        <h1><a href="{{post.get_absolute_url}}">{{post.title|safe}}</a></h1>
        {% publine post %}
      </header>
      {% if post.abstract %}
        <div class="abstract">{{post.abstract|safe}}</div>
      {% endif %}
      {% if update.note %}
          <div class="update">
            <strong>{% trans "Uppdatering" %}
              <time datetime="{{update.time|date:'c'}}">{{update.time}}</time>:</strong>
            {{update.note|safe}}
          </div>
      {% endif %}
      {% if post.abstract %}
        <p class="readmore">
          <a href="{{post.get_absolute_url}}">
            {% trans "Läs inlägget" %}
            {{post.title|safe}}
          </a>
        </p>
      {% else %}
        <div>{{post.content|safe}}</div>
      {% endif %}
      </article>
      {% endwith %}
    {% endfor %}
    <p>Övriga inlägg från
      {% for y in years %}
      <a href="/{{y}}/">{{y}}</a>{% if not forloop.last %}, {% endif %}{% endfor %}.</p>
{% endblock %}

{% block sideblockbottom %}
  <div class="sideblock">
    <h2>{% trans "Taggmoln" %}</h2>
    {% tagcloud %}
  </div>
{% endblock %}
