{% extends "blog/base.html" %}
{% load comments i18n blogtags simplegravatar %}

{% block title %}{{post.title|safe|striptags}} &#x2013; Rasmus.krats.se {% endblock %}

{% block firstskiplinks %}
  <li><a href="#similar">{% trans "liknande sidor" %}</a></li>
{% endblock %}

{% block extrahead %}
  {% if post.abstract %}
    <meta name="Description" content="{{post.abstract_text}}" />
  {% endif %}
  <script type="text/javascript" async="async"
          src="//api.flattr.com/js/0.6/load.js"
          onload="FlattrLoader.render({'uid':'rasmus_kaj', 'button':'compact',
            'url':'http://rasmus.krats.se{% url 'post_detail' post.year post.slug post.lang %}',
            'title':'{{post.title|safe|striptags}} &#x2013; Rasmus.krats.se',
            'description':'{{post.abstract_text}}', 'category':'text'
            }, 'socialwidgets', 'append')"></script>
  <script type="text/javascript" async="async"
          src="https://platform.twitter.com/widgets.js"></script>
{% endblock %}

{% block main %}
  {% if message %}
    <div class="message">{{message}}</div>
  {% endif %}

  <header>
    <h1>{{post.title|safe}}</h1>
    {% publine post %}
  </header>

  {% if post.abstract %}
    <div class="abstract">{{post.abstract_output}}</div>
  {% endif %}

  {% for u in post.update_set.all %}
    {% if u.note %}
    <div class="update">
      <strong>{% trans "Uppdatering" %}
	<time datetime="{{u.time|date:'c'}}">{{u.time}}</time>:</strong>
      {{u.note|safe}}
    </div>
    {% endif %}
  {% endfor %}

  <div class="content">{{post.content_output}}</div>

  <address>Rasmus Kaj
    <a href="mailto:rasmus@krats.se">rasmus@krats.se</a>
  </address>
  
  <div id="socialwidgets">
    <a href="https://twitter.com/share" class="twitter-share-button"
       data-text="{{post.title|striptags}}" data-via="rasmus_kaj"
       data-lang="{{lang}}">Tweet</a>
  </div>
  
  <section id="comments">
    {% get_comment_list for post as comment_list %}
    {% if comment_list %}
      <h1>{% trans "Kommentarer" %}</h1>
    
      {% for comment in comment_list %}
        <section id="c{{ comment.id }}"
                 class="comment{% if comment.user %} authorized{% endif %}" >
          {% show_gravatar comment.email %}
          <h1>
            {% if comment.user_url %}
              <a href="{{comment.user_url}}">{{comment.name}}</a>,
            {% else %}
              <span class="name">{{comment.name}}</span>,
            {% endif %}
            <time datetime="{{comment.submit_date|date:'c'}}">{{comment.submit_date}}</time>
          </h1>
          
          <div>
            {{comment.comment|linebreaks}}
          </div>
        </section>
      {% endfor %}
    {% endif %}

    <section id="writecomment">
      <h1>{% trans "Skriv en kommentar" %}</h1>

      <p class="fineprint">
        {% blocktrans with gravatar='<a href="https://gravatar.com/">gravatar</a>'%}
        Din epostadress kommer inte att visas, men har du en {{gravatar}}
        så visas den.
        Du kan inte använda markup i kommentaren, men en dubbel radmating
        blir en styckesbrytning.
        {% endblocktrans %}
      </p>
      
      {% render_comment_form for post %}
    </section>
  </section>
{% endblock %}

{% block sideblocktop %}
  <aside id="similar">
    <h1>{% trans "Liknande sidor" %}</h1>
    <ul>
      {% for p in similar %}
      <li><a href="{{p.get_absolute_url}}" lang="{{p.lang}}">
	  {{p.title|safe}}</a></li>
      {% endfor %}
    </ul>
  </aside>
{% endblock %}
