{% extends "blog/base.html" %}
{% load i18n blogtags %}

{% block title %}{{post.title}} &#x2013; Rasmus.krats.se {% endblock %}

{% block main %}
  <header>
    <h1>{{post.title|safe}}</h1>
    {% publine post %}
  </header>

  {% if post.abstract %}
    <div class="abstract">{{post.abstract|safe}}</div>
  {% endif %}

  {% for u in post.update_set.all %}
    {% if u.note %}
    <div class="update">
      <strong>{% trans "Uppdatering" %}
	<time datetime="{{u.time|date:'c'}}">{{u.time}}</time>:</strong>
      {{u.note|safe}}
    </div>
    {% endif %}
  {% endfor %}

  <div class="content">{{post.content|safe}}</div>

  <address>Rasmus Kaj
    <a href="mailto:rasmus@krats.se">rasmus@krats.se</a>
  </address>
{% endblock %}

{% block sideblocktop %}
  <div class="sideblock">
    <h2>{% trans "Liknande sidor" %}</h2>
    <ul>
      {% for p in similar %}
      <li><a href="{{p.get_absolute_url}}" lang="{{p.lang}}">
	  {{p.title|safe}}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
