{% extends "blog/base.html" %}
{% load i18n blogtags %}

{% block title %}Rasmus.krats.se {% trans "taggmoln" %}{% endblock %}

{% block extraheader %}
  <p id="lingos">{% for l in altlingos %}
    <a rel="alternate" hreflang="{{l}}" lang="{{l}}"
       href="{% url tagcloud lang=l %}">
      {% language l %}{% trans "På svenska" context "target language" %}{% endlanguage %}</a>{% if not forloop.last %}, {% endif %}
  {% endfor %}</p>
{% endblock %}

{% block main %}
    <h1>{% trans "Taggmoln" %}</h1>

    {% tagcloud %}
{% endblock %}
