{% extends "blog/base.html" %}
{% load i18n blogtags %}
{% block title %}{{tag.name}} {% trans "på" %} Rasmus.krats.se{% endblock %}

{% block main %}
    <h1>{% trans "Taggat" %} {{tag.name}}</h1>
    
    {% for post in posts %}
    <article>
      <header>
	<h1>{{post.title|safe}}</h1>
	{% publine post %}
      </header>
      <div>{{post.abstract|safe}}</div>
      <p class="readmore">
	<a href="{{post.get_absolute_url}}">
	  Läs inlägget {{post.title|safe}}
	</a>
      </p>
    </article>
    {% endfor %}
{% endblock %}
