{% extends "blog/base.html" %}
{% load i18n blogtags %}
{% block title %}{{tag.name}} {% trans "på" %} Rasmus.krats.se{% endblock %}

{% block main %}
    <h1>{% trans "Taggat" %} {{tag.name}}</h1>
    
    {% for post in posts %}
    <article lang="{{post.lang}}">
      <header>
	<h1><a href="{{post.get_absolute_url}}">{{post.title|safe}}</a></h1>
	{% publine post %}
      </header>
      {% if post.abstract %}
        {{post.frontimage|safe}}
      <div>{{post.abstract|safe}}</div>
      <p class="readmore">
	<a href="{{post.get_absolute_url}}">
	  {% trans "Läs inlägget" %}
	  {{post.title|safe}}
	</a>
      </p>
      {% else %}
      <div>{{post.content|safe}}</div>
      {% endif %}
    </article>
    {% endfor %}
{% endblock %}

{% block sideblockbottom %}
  <div class="sideblock">
    <h2>{% trans "Taggmoln" %}</h2>
    {% tagcloud %}
  </div>
{% endblock %}
