{% extends "blog/base.html" %}
{% load cache i18n blogtags %}
{% block title %}{{tag.name}} {% trans "på" %} Rasmus.krats.se{% endblock %}

{% block extrahead %}
    {# <meta name="Description" content="TODO" /> #}
    <link rel="alternate" type="application/atom+xml"
          href="/atom-{{lang}}-{{tag.slug}}.xml">
{% endblock %}

{% block main %}
    <h1>{% trans "Taggat" %} {{tag.name}}</h1>
    
    {% for post in posts %}
        {% postsummary post %}
    {% endfor %}
{% endblock %}

{% block lastskiplinks %}
  <li><a href="#tagcloud">{% trans "taggmoln" %}</a></li>
{% endblock %}

{% block sideblockbottom %}
  <aside id="tagcloud">
    {% cache 14400 tagcloud LANGUAGE_CODE %}{% tagcloud %}{% endcache %}
  </aside>
{% endblock %}
